/**
 * Colors
 */
$MAGENTA = rgb(235, 0, 140)
$BLACK = rgb(0, 0, 0)
$WHITE = rgb(255, 255, 255)
$DARK_GRAY = rgb(35, 35, 37)
$MEDIUM_GRAY = rgb(127, 127, 127)
$LIGHT_GRAY = rgb(191, 190, 190)


/**
 * British colours
 */
$DARK_GREY = $DARK_GRAY
$MEDIUM_GREY = $MEDIUM_GRAY
$LIGHT_GREY = $LIGHT_GRAY


/**
 * 3rd-party colors
 */
$TWITTER_BLUE = #55acee