/**
 * Promote element to GPU by using 3D CSS transforms
 */
promote-gpu()
  transform translateZ(0)


/**
 * Center an element vertically and horizontally using CSS transforms
 */
translate-center()
  position absolute
  left 50%
  top 50%
  transform translate(-50%, -50%)
