/**
 * Font weights
 */
$FONT_THIN = 100
$FONT_LIGHT = 300
$FONT_REGULAR = 400
$FONT_MEDIUM = 500
$FONT_SEMIBOLD = 600
$FONT_BOLD = 700
$FONT_EXTRA_BOLD = 800
$FONT_BLACK = 900


/**
 * Base variables
 */
$BASE_FONT_SIZE = 16px
$BASE_LINE_HEIGHT = 1.25

