include ../_partials/mixins
doctype
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block title
      title= project.name
    block meta
    block styles
      link(rel="stylesheet", href="/styles/site.css")
  body
    block content
    include ../_partials/footer
    include ../_partials/icons.html
    block scripts
      script(src="/vendor/requirejs/require.js" data-main="/scripts/site.js")
    if environment === 'development'
      script(src="//localhost:35729/livereload.js")
